[submodule "STS.General.GUI"]
	path = STS.General.GUI
	url = https://github.com/STSSoft/STS.General.GUI
[submodule "DatabaseBenchmark.Core"]
	path = DatabaseBenchmark.Core
	url = https://github.com/STSSoft/DatabaseBenchmark.Core
